.header{
    padding-top: 10px;
    position: absolute;
    z-index: 1;
    width: 100%;
    @include media(992){
        padding-top: 43px;
    }
    @include media(768){
        padding-top: 27px;
    }
    @include media(575){
        padding-top: 15px;
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &.container{
            padding-right: 30px;
            padding-left: 30px;
            @include media(575){
                padding-right: 15px;
                padding-left: 15px;
            }
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @include media(992){
            position: fixed;
            right: 0;
            top: 0;
            bottom: 0;
            width: 300px;
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-left: 80px;
            row-gap: 20px;
            background: #fff;
            transition: 300ms ease;
            opacity: 0;
            visibility: hidden;
            z-index: 1000000000 !important;
        }
        @include media(768){
            width: 100%;
            align-items: center;
            padding-left: 0;
        }
        &.active{
            opacity: 1;
            visibility: visible;
            .header__link{
                color: #000;
            }
        }
    }
    &__logo{
        position: relative; 
        width: 240px;
        z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999 !important;
        @include media(992){
            width: 160px;
        }
        .logo_black{
            display: none;
        }
        &.active{
            .logo_white{
                display: none;
            }
            .logo_black{
                display: block;
            }
        }
        img{
            width: 100%;
        }
    }
    &__list{
        display: flex;
        align-items: center;
        column-gap: 28px;
        @include media(992){
            flex-direction: column;
            align-items: flex-start;
            row-gap: 20px;
        }
        @include media(768){
            align-items: center;
        }
    }
    &__icons{
        display: flex;
        align-items: center;
        column-gap: 24px;
    }
    &__link{
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: -0.02em;
        color: #fff;
        transition: color, text-decoration-line 300ms ease;
        &.black{
            color: #000;
            svg{
                path{
                    fill: #000;
                }
            }
        }
        svg{
            path{
                fill: #fff;
            }
        }
        &:hover{
            text-decoration-line: underline;
            font-weight: 600;
        }
        &:active{
            text-decoration: none;
            font-weight: 400;
        }
    }
    .menu{
        width: 24px;
        height: 16px;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999 !important;
        @include media(992){
            display: flex !important; 
        }
        &.black{
            .menu-btn{
                background: #000;
            }
            &::before{
                background: #000;
            }
            &::after{
                background: #000;
            }
        }
        &-btn{
            width: 16px;
            height: 2px;
            background: #fff;
            display: block;
            border-radius: 2px;
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 2px;
            background: #fff;
            border-radius: 2px;
            transition: 300ms ease;
        }
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 8px;
            height: 2px;
            background: #fff;
            border-radius: 2px;
            transition: 300ms ease;
        }
        &.active{
            .menu-btn{
                display: none;
            }
            &::before{
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
                background: #000;
            }
            &::after{
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
                width: 100%;
                background: #000;
            }
        }
    }
}