.item{
    padding-top: 130px;
    padding-bottom: 115px;
    @include media(1200){
        padding-bottom: 100px;
    }
    @include media(768){
        padding-top: 100px;
        padding-bottom: 40px;
    }
    &__body{
        padding-right: 153px;
        padding-left: 153px;
        position: relative;
        @include media(1400){
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;  
        column-gap: 20px;
        @include media(1400){
            column-gap: 60px;
        }
        @include media(1200){
            column-gap: 15px;
        }
        @include media(768){
            flex-direction: column;
            row-gap: 20px;
        }
    }
    &__item{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 95px;
        transition: 150ms ease;
        width: calc(50% - 14px);
        position: relative;
        @include media(768){
            width: 100%;
            column-gap: 0;
            display: flex;
            flex-direction: column;
            row-gap: 12px;
        }
        &:hover{
            background: #F5F2F5;
            .item__right{
                opacity: 1;
                visibility: visible;
                background: #F5F2F5;
                @include media(768){
                    display: block;
                }
            }
        }
        &.second{
            &:hover{
                flex-direction: column-reverse;
            }
        }
    }
    &__left{
        position: relative;
        transition: 500ms ease;
        &:hover{
            transform: translateY(-25px);
            @include media(1200){
                transform: translateY(0);
            }
        }
        &-img{
            width: 100%;
            line-height: 0;
            img{
                width: 100%;
                line-height: 0;
            }
        }
        .item__content{
            position: absolute;
            bottom: 55px;
            left: 40px;
            @include media(1200){
                bottom: 23px;
                left: 35px;
            }
            @include media(768){
                left: 23px;
            }
        }
    }
    &__title{
        font-style: normal;
        font-weight: 400;
        font-size: 48.2px;
        line-height: 107.3%;
        color: #FFFFFF;
        margin-bottom: 15px;
        max-width: 275px;
        width: 100%;
        @include media(1200){
            font-weight: 400;
            font-size: 35.9049px;
            line-height: 107.3%;
            margin-bottom: 10px;
        }
        @include media(768){
            font-weight: 400;
            font-size: 23.7324px;
            line-height: 107.3%;
            max-width: 200px;
        }
        span{
            font-style: normal;
            font-weight: 400;
            font-size: 48.2px;
            line-height: 107.3%;
            color: #FFFFFF;
            @include media(1200){
                font-weight: 400;
                font-size: 35.9049px;
                line-height: 107.3%;
                margin-bottom: 10px;
            }
            @include media(768){
                font-weight: 400;
                font-size: 23.7324px;
                line-height: 107.3%;
            }
        }
        &.black{
            color: #000;
        }
    }
    &__p{
        font-style: italic;
        font-weight: 500;
        font-size: 18px;
        line-height: 37px;
        color: #FFFFFF;
        @include media(1200){
            font-weight: 500;
            font-size: 14px;
            line-height: 28px;
        }
        &.black{
            color: #000;
        }
    }
    &__right{
        position: absolute;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        transition: 150ms ease;
        top: 0;
        left: calc(100% + 20px);
        width: 101%;
        height: 101%;
        @include media(992){
            max-width: 346px;
            width: 101%;
            height: 101%;
        }
        @include media(768){
            max-width: 101%;
            width: 101%;
            position: static;
            display: none;
        }
        &.first{ 
            left: calc(100% + 28px);
            @include media(1400){
                left: calc(100% + 60px);
            }
            @include media(1200){
                left: calc(100% + 27px);
            }
        }
        &.second{
            right: calc(100% + 28px);
            left: auto;
            @include media(1400){
                right: calc(100% + 60px);
            }
            @include media(1200){
                right: calc(100% + 27px);
            }
        }
        &-content{
            padding-left: 32px;
            @include media(992){
                padding-left: 10px;
            }
        }
        &-img{
            @include media(1500){
                max-width: 540px;
                width: 100%;
            }
            @include media(1200){
                max-width: 466px;
                width: 100%;
            }
            @include media(992){
                max-width: 330px;
                width: 100%;
                height: 190px;
            }
            @include media(768){
                height: max-content;
                max-width: 100%;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    &__texts{
        transform: translateY(-56px);
        max-width: 335px;
        width: 100%;
        @include media(1200){
            transform: translateY(-45px);
        }
        @include media(768){
            transform: translateY(-30px);
        }
    }
    &__desc{
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: rgba(0, 0, 0, 0.7);
        max-width: 437px;
        width: 100%;
        margin-bottom: 35px;
        @include media(1200){
            margin-top: -20px;
            margin-bottom: 25px;
        }
        @include media(992){
            font-size: 16px;
            line-height: 22px;
            margin-top: -50px;
            margin-bottom: 15px;
        }
        @include media(768){
            margin-top: -20px;
        }
    }
    &__infos{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 12px;
        border-top: 1px solid rgba(0, 0, 0, 0.22);
        margin-bottom: 45px;
        @include media(1200){
            margin-bottom: 30px;
        }
        @include media(992){
            margin-bottom: 15px;
        }
    }
    &__info{
        display: flex;
        align-items: flex-end;
        column-gap: 5px;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        text-transform: uppercase;
        color: #000000;
        @include media(1200){
            font-size: 14px;
            line-height: 25px;
        }
        @include media(992){
            column-gap: 3px;
            font-size: 12px;
        }
        @include media(768){
            font-size: 10px;
        }
        span{
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 107.3%;
            color: #000000;
            @include media(1200){
                font-size: 25px;
                line-height: 109.3%;
            }
            @include media(992){
                font-size: 17px;
                line-height: 26px;
            }
            @include media(768){
                font-size: 15px;
            }
        }
    }
    &__btn{
        display: flex;
        align-items: center;
        column-gap: 10px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #000000;
        transition: 300ms ease;
        @include media(992){
            font-size: 16px;
            column-gap: 7px;
        }
        svg{
            @include media(992){
                width: 20px;
            }
        }
        &:hover{
            font-weight: 600;
            text-decoration: underline;
        }
        &:active{
            text-decoration: none;
            font-weight: 500;
        }
    }
}