mixin choice()
    .choice     
        .choice__body 
            .choice__top.container
                .choice__top-left 
                    h2.choice__title Посмотрите больше и сделайте выбор
                    p.choice__desc Свет для любого интерьера: от загородного дома до строгого офиса, от городской квартиры до модного клуба
                .choice__top-right 
                    .choice__info
                        .choice__info-img 
                            img(src="@img/choice-info.png", alt="")
            .choice__slider.slider 
                .swiper.choice__swiper 
                    .swiper-wrapper.choice__swiper-wrapper 
                        .swiper-slide.choice__swiper-slide
                            a(href="https://instagram.com/paula.rl").choice__item.hidden-xxl
                                p.choice__custom instagram
                                .choice__img 
                                    img(src="@img/choice-img-1.png", alt="")
                                p.choice__link #[img(src="@img/choice-icon.svg", alt="" draggable="false" loading="lazy")] paula.rl
                                .choice__tags #office #simple#industrial 
                            .choice__item.visible-xxl
                                a(href="https://instagram.com/paula.rl").choice__a instagram 
                                a(href="https://instagram.com/paula.rl").choice__custom instagram
                                .choice__img 
                                    img(src="@img/choice-img-1.png", alt="")
                                a(href="https://instagram.com/paula.rl").choice__link #[img(src="@img/choice-icon.svg", alt="" draggable="false" loading="lazy")] paula.rl
                                .choice__tags #office #simple#industrial 
                        .swiper-slide.choice__swiper-slide
                            a(href="https://instagram.com/paula.rl").choice__item.hidden-xxl 
                                p.choice__custom instagram
                                .choice__img 
                                    img(src="@img/choice-img-2.png", alt="")
                                p.choice__link  #[img(src="@img/choice-icon.svg", alt="" draggable="false" loading="lazy")] paula.rl
                                .choice__tags #office #simple#industrial
                            .choice__item.visible-xxl
                                a(href="https://instagram.com/paula.rl").choice__a instagram 
                                a(href="https://instagram.com/paula.rl").choice__custom instagram
                                .choice__img 
                                    img(src="@img/choice-img-2.png", alt="")
                                a(href="https://instagram.com/paula.rl").choice__link #[img(src="@img/choice-icon.svg", alt="" draggable="false" loading="lazy")] paula.rl
                                .choice__tags #office #simple#industrial  
                        .swiper-slide.choice__swiper-slide
                            a(href="https://instagram.com/paula.rl").choice__item.hidden-xxl
                                p.choice__custom instagram
                                .choice__img 
                                    img(src="@img/choice-img-3.png", alt="")
                                p.choice__link 
                                p.choice__link  #[img(src="@img/choice-icon.svg", alt="" draggable="false" loading="lazy")] paula.rl
                            .choice__tags #office #simple#industrial
                            .choice__item.visible-xxl
                                a(href="https://instagram.com/paula.rl").choice__a instagram 
                                a(href="https://instagram.com/paula.rl").choice__custom instagram
                                .choice__img 
                                    img(src="@img/choice-img-3.png", alt="")
                                a(href="https://instagram.com/paula.rl").choice__link #[img(src="@img/choice-icon.svg", alt="" draggable="false" loading="lazy")] paula.rl
                                .choice__tags #office #simple#industrial 
                        .swiper-slide.choice__swiper-slide
                            a(href="https://instagram.com/paula.rl").choice__item.hidden-xxl
                                p.choice__custom instagram
                                .choice__img 
                                    img(src="@img/choice-img-4.png", alt="")
                                p.choice__link  #[img(src="@img/choice-icon.svg", alt="" draggable="false" loading="lazy")] paula.rl
                                .choice__tags #office #simple#industrial
                            .choice__item.visible-xxl
                                a(href="https://instagram.com/paula.rl").choice__a instagram 
                                a(href="https://instagram.com/paula.rl").choice__custom instagram
                                .choice__img 
                                    img(src="@img/choice-img-4.png", alt="")
                                a(href="https://instagram.com/paula.rl").choice__link #[img(src="@img/choice-icon.svg", alt="" draggable="false" loading="lazy")] paula.rl
                                .choice__tags #office #simple#industrial 
                        .swiper-slide.choice__swiper-slide
                            a(href="https://instagram.com/paula.rl").choice__item.hidden-xxl
                                p.choice__custom instagram
                                .choice__img 
                                    img(src="@img/choice-img-5.png", alt="")
                                p.choice__link  #[img(src="@img/choice-icon.svg", alt="" draggable="false" loading="lazy")] paula.rl
                                .choice__tags #office #simple#industrial
                            .choice__item.visible-xxl
                                a(href="https://instagram.com/paula.rl").choice__a instagram 
                                a(href="https://instagram.com/paula.rl").choice__custom instagram
                                .choice__img 
                                    img(src="@img/choice-img-5.png", alt="")
                                a(href="https://instagram.com/paula.rl").choice__link #[img(src="@img/choice-icon.svg", alt="" draggable="false" loading="lazy")] paula.rl
                                .choice__tags #office #simple#industrial  