mixin intro()
    .intro 
        .intro__body.container 
            .slider.intro__slider 
                .swiper.intro__swiper 
                    .swiper-wrapper.intro__swiper-wrapper 
                        .swiper-slide.intro__swiper-slide
                            .intro__img 
                                img(src="@img/intro-bg.png", alt="").disable-lg
                                img(src="@img/intro-bg_lg.png", alt="").enable-lg.disable-sm
                                img(src="@img/intro-bg_sm.png", alt="").enable-sm
                            .intro__content
                                p.intro__p Коллекция 
                                h1.intro__title Asce II
                        .swiper-slide.intro__swiper-slide
                            .intro__img
                                img(src="@img/intro-bg.png", alt="").disable-lg
                                img(src="@img/intro-bg_lg.png", alt="").enable-lg.disable-sm
                                img(src="@img/intro-bg_sm.png", alt="").enable-sm
                            .intro__content 
                                p.intro__p Коллекция 
                                h1.intro__title Asce II
                        .swiper-slide.intro__swiper-slide
                            .intro__img
                                img(src="@img/intro-bg.png", alt="").disable-lg
                                img(src="@img/intro-bg_lg.png", alt="").enable-lg.disable-sm
                                img(src="@img/intro-bg_sm.png", alt="").enable-sm
                            .intro__content 
                                p.intro__p Коллекция 
                                h1.intro__title Asce II
                        .swiper-slide.intro__swiper-slide
                            .intro__img
                                img(src="@img/intro-bg.png", alt="").disable-lg
                                img(src="@img/intro-bg_lg.png", alt="").enable-lg.disable-sm
                                img(src="@img/intro-bg_sm.png", alt="").enable-sm
                            .intro__content 
                                p.intro__p Коллекция 
                                h1.intro__title Asce II
                        .swiper-slide.intro__swiper-slide
                            .intro__img
                                img(src="@img/intro-bg.png", alt="").disable-lg
                                img(src="@img/intro-bg_lg.png", alt="").enable-lg.disable-sm
                                img(src="@img/intro-bg_sm.png", alt="").enable-sm
                            .intro__content 
                                p.intro__p Коллекция 
                                h1.intro__title Asce II
                .swiper-pagination.intro__pagination 