mixin item()
    .item
        .item__body.container
            .item__row
                .item__item.first
                    .item__left 
                        .item__left-img 
                            img(src="@img/lamps-img-1.png", alt="")
                        .item__content
                            h2.item__title Круглая форма
                    .item__right.first
                        .item__right-img 
                            img(src="@img/lamps-img-2.png", alt="")
                        .item__right-content
                            .item__texts 
                                h2.item__title.black Круглая форма
                            p.item__desc Светильники изящной формы способны преобразить любое пространство от квартиры до ресторана или отеля
                            .item__infos 
                                p.item__info #[span 2] размера
                                p.item__info #[span 4] цвета
                                p.item__info #[span 2] варианта подвеса
                .item__item.second.hidden
                    .item__right.second
                        .item__right-img 
                            img(src="@img/item-img-3.png", alt="")
                            .item__right-content
                                .item__texts 
                                    h2.item__title.black #[span Треугольная ] форма
                                p.item__desc Особая форма и способ крепления светильника позволяют подчеркнуть стиль интерьера или зонировать пространство.
                                .item__infos 
                                    p.item__info #[span 2] размера
                                    p.item__info #[span 4] цвета
                                    p.item__info #[span 2] варианта подвеса
                    .item__left 
                        .item__left-img 
                            img(src="@img/item-img-2.png", alt="")
                            .item__content
                                h2.item__title Треугольная форма