mixin item()
    .item
        .item__body.container 
            ul.item__list 
                li.item__li #[span 01] Доставка по миру
                li.item__li #[span 02] Стильный дизайн
                li.item__li #[span 03] Полная экологичность
                li.item__li #[span 04] Сделано в Грузии
            .item__row
                .item__item.first
                    .item__left 
                        .item__left-img 
                            img(src="@img/lamps-img-1.png", alt="")
                        .item__content
                            h2.item__title Подвесные светильники
                            p.item__p Classic style of LED lighting
                    .item__right.first
                        .item__right-img 
                            img(src="@img/item-img-2.png", alt="")
                        .item__right-content
                            .item__texts 
                                h2.item__title.black Подвесные светильники
                                p.item__p.black Classic style of LED lighting
                            p.item__desc Светильники изящной формы способны преобразить любое пространство от квартиры до ресторана или отеля
                            .item__infos 
                                p.item__info #[span 2] размера
                                p.item__info #[span 4] цвета
                                p.item__info #[span 2] варианта подвеса
                            a(href="item.html").item__btn Подробнее 
                                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="14" cy="14" r="14" fill="black"/>
                                    <path d="M12 9V9C12.9173 11.1153 14.6057 12.8019 16.722 13.717L17.2353 13.939L16.722 14.1609C14.6057 15.076 12.9173 16.7626 12 18.8779V18.8779" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                .item__item.second.hidden
                    .item__right.second
                        .item__right-img 
                            img(src="@img/item-img-4.png", alt="")
                            .item__right-content
                                .item__texts 
                                    h2.item__title.black #[span Настенные] светильники
                                    p.item__p.black Аrchitecture of spaces illuminated
                                p.item__desc Особая форма и способ крепления светильника позволяют подчеркнуть стиль интерьера или зонировать пространство.
                                .item__infos 
                                    p.item__info #[span 2] размера
                                    p.item__info #[span 4] цвета
                                    p.item__info #[span 2] варианта подвеса
                                a(href="item.html").item__btn Подробнее 
                                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="14" cy="14" r="14" fill="black"/>
                                        <path d="M12 9V9C12.9173 11.1153 14.6057 12.8019 16.722 13.717L17.2353 13.939L16.722 14.1609C14.6057 15.076 12.9173 16.7626 12 18.8779V18.8779" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                    .item__left 
                        .item__left-img 
                            img(src="@img/item-img-3.png", alt="")
                            .item__content
                                h2.item__title Настенные светильники
                                p.item__p Аrchitecture of spaces illuminated