mixin lamps()
    .lamps
        .lamps__body.container 
            ul.lamps__list 
                li.lamps__li #[span 01] Доставка по миру
                li.lamps__li #[span 02] Стильный дизайн
                li.lamps__li #[span 03] Полная экологичность
                li.lamps__li #[span 04] Сделано в Грузии
            .lamps__row
                .lamps__item.first
                    .lamps__left 
                        .lamps__left-img 
                            img(src="@img/lamps-img-1.png", alt="")
                        .lamps__content
                            h2.lamps__title Подвесные светильники
                            p.lamps__p Classic style of LED lighting
                    .lamps__right.first
                        .lamps__right-img 
                            img(src="@img/lamps-img-2.png", alt="")
                        .lamps__right-content
                            .lamps__texts 
                                h2.lamps__title.black Подвесные светильники
                                p.lamps__p.black Classic style of LED lighting
                            p.lamps__desc Светильники изящной формы способны преобразить любое пространство от квартиры до ресторана или отеля
                            .lamps__bottom
                                .lamps__infos 
                                    p.lamps__info #[span 2] размера
                                    p.lamps__info #[span 4] цвета
                                    p.lamps__info #[span 2] варианта подвеса
                                a(href="item.html").lamps__btn Подробнее 
                                    <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="14.5" cy="14" r="14" fill="#525252"/>
                                        <path d="M12.5 9V9C13.4173 11.1153 15.1057 12.8019 17.222 13.717L17.7353 13.939L17.222 14.1609C15.1057 15.076 13.4173 16.7626 12.5 18.8779V18.8779" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                .lamps__cards 
                                    .lamps__card 
                                        h2.lamps__card-title Peak
                                        p.lamps__card-desc Стильная и строгая геометрия лаконичных форм
                                        a(href="about.html").lamps__card-btn Подробнее о Peak
                                            <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="14.5" cy="14" r="14" fill="#525252"/>
                                                <path d="M12.5 9V9C13.4173 11.1153 15.1057 12.8019 17.222 13.717L17.7353 13.939L17.222 14.1609C15.1057 15.076 13.4173 16.7626 12.5 18.8779V18.8779" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                    .lamps__line
                                    .lamps__card 
                                        h2.lamps__card-title Arco
                                        p.lamps__card-desc Классические мягкие линии современного дизайна
                                        a(href="#!").lamps__card-btn Подробнее о Arco
                                            <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="14.5" cy="14" r="14" fill="#525252"/>
                                                <path d="M12.5 9V9C13.4173 11.1153 15.1057 12.8019 17.222 13.717L17.7353 13.939L17.222 14.1609C15.1057 15.076 13.4173 16.7626 12.5 18.8779V18.8779" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                .lamps__item.second.hidden
                    .lamps__right.second
                        .lamps__right-img 
                            img(src="@img/lamps-img-4.png", alt="")
                            .lamps__right-content
                                .lamps__texts 
                                    h2.lamps__title.black #[span Настенные] светильники
                                    p.lamps__p.black Аrchitecture of spaces illuminated
                                p.lamps__desc Особая форма и способ крепления светильника позволяют подчеркнуть стиль интерьера или зонировать пространство.
                                .lamps__bottom
                                    .lamps__infos 
                                        p.lamps__info #[span 2] размера
                                        p.lamps__info #[span 4] цвета
                                        p.lamps__info #[span 2] варианта подвеса
                                    a(href="item.html").lamps__btn Подробнее 
                                        <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="14.5" cy="14" r="14" fill="#525252"/>
                                            <path d="M12.5 9V9C13.4173 11.1153 15.1057 12.8019 17.222 13.717L17.7353 13.939L17.222 14.1609C15.1057 15.076 13.4173 16.7626 12.5 18.8779V18.8779" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    .lamps__cards 
                                        .lamps__card 
                                            h2.lamps__card-title Peak
                                            p.lamps__card-desc Стильная и строгая геометрия лаконичных форм
                                            a(href="item.html").lamps__card-btn Подробнее о Peak
                                                <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="14.5" cy="14" r="14" fill="#525252"/>
                                                    <path d="M12.5 9V9C13.4173 11.1153 15.1057 12.8019 17.222 13.717L17.7353 13.939L17.222 14.1609C15.1057 15.076 13.4173 16.7626 12.5 18.8779V18.8779" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                        .lamps__line
                                        .lamps__card 
                                            h2.lamps__card-title Arco
                                            p.lamps__card-desc Классические мягкие линии современного дизайна
                                            a(href="item.html").lamps__card-btn Подробнее о Arco
                                                <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="14.5" cy="14" r="14" fill="#525252"/>
                                                    <path d="M12.5 9V9C13.4173 11.1153 15.1057 12.8019 17.222 13.717L17.7353 13.939L17.222 14.1609C15.1057 15.076 13.4173 16.7626 12.5 18.8779V18.8779" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                    .lamps__left 
                        .lamps__left-img 
                            img(src="@img/lamps-img-3.png", alt="")
                            .lamps__content
                                h2.lamps__title Настенные светильники
                                p.lamps__p Аrchitecture of spaces illuminated   