mixin lamps()
    .lamps
        .lamps__body.container 
            ul.lamps__list 
                li.lamps__li #[span 01] Доставка по миру
                li.lamps__li #[span 02] Стильный дизайн
                li.lamps__li #[span 03] Полная экологичность
                li.lamps__li #[span 04] Сделано в Грузии
            .lamps__row
                .lamps__item 
                    .lamps__left 
                        .lamps__left-img 
                            img(src="@img/lamps-img-1.png", alt="")
                        .lamps__content
                            h2.lamps__title Подвесные светильники
                            p.lamps__p Classic style of LED lighting
                    .lamps__right 
                        .lamps__right-img 
                            img(src="@img/lamps-img-2.png", alt="")
                        .lamps__right-content
                            .lamps__texts 
                                h2.lamps__title.black Подвесные светильники
                                p.lamps__p.black Classic style of LED lighting
                            p.lamps__desc Светильники изящной формы способны преобразить любое пространство от квартиры до ресторана или отеля
                            .lamps__infos 
                                p.lamps__info #[span 2] размера
                                p.lamps__info #[span 4] цвета
                                p.lamps__info #[span 2] варианта подвеса
                            a(href="item.html").lamps__btn Подробнее 
                                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="14" cy="14" r="14" fill="black"/>
                                    <path d="M12 9V9C12.9173 11.1153 14.6057 12.8019 16.722 13.717L17.2353 13.939L16.722 14.1609C14.6057 15.076 12.9173 16.7626 12 18.8779V18.8779" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                .lamps__item 
                    .lamps__left 
                        .lamps__left-img 
                            img(src="@img/lamps-img-3.png", alt="")
                            .lamps__content
                                h2.lamps__title Настенные светильники
                                p.lamps__p Аrchitecture of spaces illuminated 
                    .lamps__right 
                        .lamps__right-img 
                            img(src="@img/lamps-img-4.png", alt="")
                            .lamps__right-content
                                .lamps__texts 
                                    h2.lamps__title.black #[span Настенные] светильники
                                    p.lamps__p.black Аrchitecture of spaces illuminated
                                p.lamps__desc Особая форма и способ крепления светильника позволяют подчеркнуть стиль интерьера или зонировать пространство.
                                .lamps__infos 
                                    p.lamps__info #[span 2] размера
                                    p.lamps__info #[span 4] цвета
                                    p.lamps__info #[span 2] варианта подвеса
                                a(href="item.html").lamps__btn Подробнее 
                                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="14" cy="14" r="14" fill="black"/>
                                        <path d="M12 9V9C12.9173 11.1153 14.6057 12.8019 16.722 13.717L17.2353 13.939L16.722 14.1609C14.6057 15.076 12.9173 16.7626 12 18.8779V18.8779" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>  