mixin life()
    .life 
        .life__body
            .life__top.container 
                h2.life__title Сделаем жизнь ярче
                p.life__desc Современный дизайн невозможен без стильного освещения. Светильники добавляю уюта, зонируют помещения, создают особое настроение, превращают дом в место, где всем хорошо, а офис — в пространство для плодотворной работы.
            .life__wrapper
                .life__content.hidden-sm 
                    .life__left 
                        .life__column 
                            .life__img 
                                img(src="@img/life-img-1.png", alt="").disable-1600
                                img(src="@img/life-img-1-xxl.png", alt="").enable-1600
                            .life__img 
                                img(src="@img/life-img-2.png", alt="").disable-1600
                                img(src="@img/life-img-2-xxl.png", alt="").enable-1600
                        .life__column 
                            .life__img 
                                img(src="@img/life-img-3.png", alt="").disable-1600
                                img(src="@img/life-img-3-xxl.png", alt="").enable-1600
                    .life__right
                        .life__right-content
                            .life__column.enable-sm
                                .life__img 
                                    img(src="@img/life-img-6.png", alt="").disable-1600
                                    img(src="@img/life-img-6-xxl.png", alt="").enable-1600
                            .life__column.row
                                .life__img 
                                    img(src="@img/life-img-4.png", alt="").disable-1600
                                    img(src="@img/life-img-4-xxl.png", alt="").enable-1600
                                .life__img 
                                    img(src="@img/life-img-5.png", alt="").disable-1600
                                    img(src="@img/life-img-5-xxl.png", alt="").enable-1600
                                .life__wrapper.enable-sm 
                                    .life__img 
                                        img(src="@img/life-img-5-sm.png", alt="")
                                    .life__img 
                                        img(src="@img/life-img-6-sm.png", alt="")
                        .life__column
                            .life__img 
                                img(src="@img/life-img-6.png", alt="").disable-1600
                                img(src="@img/life-img-6-xxl.png", alt="").enable-1600
                        .life__column 
                            .life__img 
                                img(src="@img/life-img-7.png", alt="").disable-1600
                                img(src="@img/life-img-7-xxl.png", alt="").enable-1600
                            .life__img 
                                img(src="@img/life-img-8.png", alt="").disable-1600
                                img(src="@img/life-img-8-xxl.png", alt="").enable-1600
            .life__content.visible-sm 
                .life__row 
                    .life__item 
                        .life__img 
                            img(src="@img/life-img-1-sm.png", alt="")
                        .life__img 
                            img(src="@img/life-img-2-sm.png", alt="")
                    .life__item 
                        .life__img 
                            img(src="@img/life-img-3-sm.png", alt="")
                .life__row 
                    .life__item 
                        .life__img 
                            img(src="@img/life-img-4-sm.png", alt="")
                    .life__item 
                        .life__img 
                            img(src="@img/life-img-5-sm.png", alt="")
                        .life__img 
                            img(src="@img/life-img-6-sm.png", alt="")
                .life__row 
                    .life__item 
                        .life__img 
                            img(src="@img/life-img-7-sm.png", alt="")
                    .life__item 
                        .life__img 
                            img(src="@img/life-img-8-sm.png", alt="")
                    
