mixin life()
    .life 
        .life__body
            .life__top.container 
                h2.life__title Сделаем жизнь ярче
                p.life__desc Современный дизайн невозможен без стильного освещения. Светильники добавляю уюта, зонируют помещения, создают особое настроение, превращают дом в место, где всем хорошо, а офис — в пространство для плодотворной работы.
                
