mixin peak()
    .peak 
        .peak__body.container 
            .peak__left 
                .slider.peak__slider
                    .swiper.swiper_second.peak__swiper_second(thumbsSlider="")
                        .swiper-wrapper 
                            .swiper-slide.peak__swiper-slide 
                                .peak__img 
                                    img(src="@img/peak-img-1.png", alt="")
                            .swiper-slide.peak__swiper-slide 
                                .peak__img 
                                    img(src="@img/peak-img-2.png", alt="")
                            .swiper-slide.peak__swiper-slide 
                                .peak__img 
                                    img(src="@img/peak-img-3.png", alt="")
                            .swiper-slide.peak__swiper-slide 
                                .peak__img 
                                    img(src="@img/peak-img-4.png", alt="")
                            .swiper-slide.peak__swiper-slide 
                                .peak__img 
                                    img(src="@img/peak-img-5.png", alt="") 
                    .swiper.peak__swiper 
                        .swiper-wrapper.peak__swiper-wrapper 
                            .swiper-slide.peak__swiper-slide 
                                .peak__img 
                                    img(src="@img/peak-img-1.png", alt="")
                            .swiper-slide.peak__swiper-slide 
                                .peak__img 
                                    img(src="@img/peak-img-2.png", alt="")
                            .swiper-slide.peak__swiper-slide 
                                .peak__img 
                                    img(src="@img/peak-img-3.png", alt="")
                            .swiper-slide.peak__swiper-slide 
                                .peak__img 
                                    img(src="@img/peak-img-4.png", alt="")
                            .swiper-slide.peak__swiper-slide 
                                .peak__img 
                                    img(src="@img/peak-img-5.png", alt="")
                        .swiper-button-prev.peak__button-prev
                        .swiper-button-next.peak__button-next 
