mixin peak()
    .peak 
        .peak__body.container 
            .peak__left 
                .slider.peak__slider
                    <div class="swiper mySwiper2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="@img/peak-img-1.png"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="@img/peak-img-2.png"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="@img/peak-img-3.png"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="@img/peak-img-4.png"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="@img/peak-img-5.png"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="@img/peak-img-1.png"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="@img/peak-img-2.png"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="@img/peak-img-3.png"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="@img/peak-img-4.png"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="@img/peak-img-5.png"/>
                            </div>
                        </div>
                    </div>
                    <div thumbsSlider="" class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="@img/peak-img-1.png"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="@img/peak-img-2.png"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="@img/peak-img-3.png"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="@img/peak-img-4.png"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="@img/peak-img-5.png"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="@img/peak-img-1.png"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="@img/peak-img-2.png"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="@img/peak-img-3.png"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="@img/peak-img-4.png"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="@img/peak-img-5.png"/>
                            </div>
                        </div>
                        .peak__buttons
                            <div class="swiper-button-prev peak__button-prev">
                                img(src="@img/arrow-prev.svg", alt="")
                            </div>
                            <div class="swiper-button-next peak__button-next">
                                img(src="@img/arrow-next.svg", alt="")
                            </div>
                    </div>
            .peak__right 
                p.peak__span Модель
                h1.peak__title peak
                p.peak__p Коллекция Asce II 
                .peak__row 
                    .peak__row-left 
                        p.peak__subtitle Цвет
                        .peak__colors 
                            .peak__color 
                                img(src="@img/peak-color-1.png", alt="")
                            .peak__color 
                                img(src="@img/peak-color-2.png", alt="")
                            .peak__color 
                                img(src="@img/peak-color-3.png", alt="")
                            .peak__color 
                                img(src="@img/peak-color-4.png", alt="")
                            .peak__color 
                                img(src="@img/peak-color-5.png", alt="")
                    .peak__row-right 
                        p.peak__subtitle Длина
                        .peak__btns 
                            button(type="submit").peak__btn 1000 м
                            button(type="submit").peak__btn 800 м
                p.peak__subtitle Technical Details
                
